@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background-color: black;
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: inherit; /* Ensure text color is inherited */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
p,
h1, h2, h3, h4, h5, h6,
li {
  color: inherit;
} */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] tracking-wide; 
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  .pink_button {
    @apply shadow-md shadow-gray-400 rounded-xl uppercase bg-[#F652A0] text-[#fff] focus:bg-[#fff]  focus:text-[#F652A0];
  }
}

.text {
  @apply text-[#5651e5];
}

.gray {
  @apply text-gray-600
}


.inputGroup {
  font-size: 1.25rem;
  position: relative;
  --primary: #2196f5;
}

.input {
  all: unset;
  color: #fefefe;
  border: 1px solid #9e9e99;
  padding: 0.2rem;
  border-radius: 20px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  color: #040404;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border: 1px solid var(--primary);
  
}

.input:focus + .label {
  transform: translateY(-105%) scale(0.7);
  background-color: #fff;
  padding-inline: 0.3rem;
  color: var(--primary);
  
}

